{% extends 'base.html' %}
{% load static %}



{% block content %}


<div class="container">
    <div class="row d-flex justify-content-between mt-3">
        <div class="col-12 col-lg-3 mt-3">
            <h1 class="text-h3-custom">ПОЛУЧЕННЫЕ ЗАЯВКИ</h1>
        </div>
    </div>
    {% for notification in notifications %}

    <hr class="custom-hr m-2">

    <div class="row d-flex justify-content-center mt-3" style="text-transform: uppercase;">

        <div class="col-6 col-lg-2 mt-2 mb-2">
            <h1 class="text-h4-custom">Заявка от:</h1>
            <a href="/@id{{notification.sender.id}}/" class="text-h5-custom">{{ notification.sender.fullName }}</a>
        </div>

        <div class="col-6 col-lg-3 mt-2 mb-2">
            <h1 class="text-h4-custom">Сообщение:</h1>
            <h1 class="text-h5-custom">{{ notification.message }}</h1>
        </div>

        <div class="col-12 col-lg-3 mt-2 mb-2">
            <h1 class="text-h4-custom">Номер телефона:</h1>
            <h1 class="text-h5-custom">{{ notification.number_phone }}</h1>
        </div>

        <div class="col-12 col-lg-3 mt-2 mb-2">
            <h1 class="text-h4-custom">Почта:</h1>
            <h1 class="text-h5-custom">{{ notification.sender.email }}</h1>
        </div>
        
    </div>

    <div class="row d-flex justify-content-end" style="text-transform: uppercase;">
        <div class="col-6 col-md-3 col-lg-2">
            <button type="button" class="btn btn-outline-light text-h5-custom" style="border-radius: 0px;">ОТКАЗАТЬСЯ ОТ СОТРУДНИЧЕСТВА</button>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <button type="button" class="btn btn-light text-h5-custom text-dark" style="border-radius: 0px;">НАЧАТЬ СОТРУДНИЧЕСТВО</button>
        </div>
    </div>

    <hr class="custom-hr m-2">

    

    {% endfor %}



</div>
    
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/main/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/main/gsap.min.js' %}"></script>
<script src="{% static 'js/profile/profile_animation.js' %}"></script>



{% if not user.is_authenticated %}
    <script>
        window.location.replace("/auth/");
    </script>
{% endif %}

{% endblock %}