{% extends 'base.html' %}
{% load static %}



{% block content %}


<div class="container">
    <div class="row d-flex justify-content-between mt-3">
        <div class="col-12 col-lg-3 mt-3">
            <h1 class="text-h3-custom">ОТПРАВКА ЗАЯВКИ</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-between mt-3">
        <div class="col-12 col-lg-3 mt-3">
            <form name="application_form">

                <div class="form-outline mb-3" style="width: 100%; max-width: 22rem">
                    <label for="exampleInputEmail1" class="form-label text-h4-custom">РАССКАЖИТЕ О СЕБЕ, ПОЧЕМУ ВЫБРАЛИ ДАННОГО СОИСКАТЕЛЯ ИЛИ ПРОЕКТ</label>
                    <textarea type="text" name="waitSolary" class="form-control text-h5-custom" rows="4"></textarea>
                </div>

                <div class="form-outline mb-3" style="width: 100%; max-width: 22rem">
                    <label for="exampleInputEmail1" class="form-label text-h4-custom">НОМЕР ТЕЛЕФОНА ДЛЯ СВЯЗИ</label>
                    <input type="text" name="number_phone" id="phone" class="form-control custom-number_phone text-h5-custom" placeholder="7 (XXX) XXX-XXXX"/>
                </div>

                <button type="button" class="btn btn-outline-light content-text-custom me-2 button2-animation mt-2 mb-5" onclick="">ОТПРАВИТЬ</button>
                
            </form>
            
        </div>

        <div class="col-12 col-lg-6 mt-3 text-end">
            <h1 class="text-h3-custom" style="text-transform: uppercase;">В этом поле вы можете поделиться информацией о себе и рассказать, почему вы заинтересованы в данном соискателе или проекте. Ваше сообщение поможет нам лучше понять ваши интересы и мотивацию.</h1>
        </div>


    </div>


</div>
    
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/main/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/main/gsap.min.js' %}"></script>
<script src="{% static 'js/main/animations.js' %}"></script>



{% if not user.is_authenticated %}
    <script>
        window.location.replace("/auth/");
    </script>
{% endif %}

{% endblock %}